/*.highlight {
    background: #333333;
    border: 1px solid white;
    color: block;
}
.highlighter-rouge {
    color: block;
    background: #333333;
    background-color: rgb(81, 65, 65); 
    font-style:oblique;
}
*/
